@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:200");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#gradient {
  /* height: 300px;
  width: 300px;
  border: 1px solid black;
  font-size: 30px; */
  background: linear-gradient(130deg, #e0b0ff, #ffffff);
  background-size: 200% 200%;

  -webkit-animation: Animation 5s ease infinite;
  -moz-animation: Animation 5s ease infinite;
  animation: Animation 5s ease infinite;
}

@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
#pillar {
  display: block;
  margin: 100px auto;
  width: 300px;
  -webkit-transform: translateX(-200px);
  transform: translateX(-200px);
  -webkit-perspective: 1900px;
  perspective: 1900px;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.row {
  width: 800px;
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition: all 3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.row:hover .wrap {
  -webkit-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
  cursor: pointer;
}

.row:hover {
  z-index: 1;
}

.row:hover .left:before {
  width: 55%;
}

.row .left {
  width: 400px;
  padding: 15px 20px;
  text-align: right;
  color: #e0b0ff;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  font-weight: bold;
  font-size: 3.5em;
}

.row .left:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}

.row .right {
  width: 400px;
  padding: 15px 20px;
  text-align: left;
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #e0b0ff;
  font-weight: bold;
  font-size: 3.5em;
}

/* Ciencia 2k22 completed here */

body {
  font-family: "Raleway", sans-serif;
  background: #eee;
}

.wrapper {
  position: relative;

  left: 40%;
  width: 200px;
  height: 500px;
  perspective: 900px;
}

.container {
  position: absolute;
  /* top: 0%;
  width: 100%;
  height: 100%; */
  transition: 0.5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear;
  z-index: 1;
}

.container:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: 0.5s all ease;
  z-index: 400;
}

@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.1;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.1;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}

/* Image completed here */

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
nav ul li a {
  font-size: 11px;
}

.header {
  /* border-bottom: 1px solid #e2e8f0; */
  position: sticky;
  top: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 100%;
  height: 8vh;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: bold;
  /* color: #475569; */
}

/* .nav-link:hover {
  color: #482ff7;
} */

.nav-logo img {
  width: 50px;
  height: 50px;
}
nav {
  width: 100%;
  height: 8vh;
  background-color: #e0b0ff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
  position: sticky;
  top: 0;
}
nav a {
  text-decoration: none;
  list-style: none;
}
/* nav a:hover {
  text-decoration: underline;
} */
nav a {
  /* color: #a62df7; */
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: block;
  padding: 15px 20px;
  position: relative;
  display: inline;
  font-weight: bold;
}
nav a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #632d47;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
nav a:hover:after {
  width: 100%;
  left: 0;
}

.img-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("https://images.unsplash.com/photo-1647880953189-f26efb3884db?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 95vh;
  /* background-attachment: fixed; */
}
.name-display {
  font-size: 8em;
  color: #e0b0ff;

  font-weight: bold;
}
.show {
  font-size: 2.5em;
  color: whitesmoke;
}
.time {
  font-size: 2em;
  color: whitesmoke;
}
.display-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.about-heading {
  font-size: 3em;
  color: #632d47;
  font-weight: bold;
  text-decoration: underline;
  padding: 2rem 0;
}
.img {
  width: 100%;
  height: 90vh;
  background-image: url("./assests/img.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* height: 100vh; */
  padding: 3em;
  /* background: linear-gradient(rgba(224, 176, 255, 1), rgba(224, 176, 255, 0)); */
}
.about-content {
  font-size: 2em;
  font-weight: 500;
}
.about-name {
  font-weight: bold;
  font-size: 3;
}
.logo {
  width: 70px;
  height: 70px;
  text-decoration: none;
  list-style: none;
}

.events {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(
    rgba(224, 176, 255, 1),
    rgba(224, 176, 255, 0)
  ); */
  display: grid;
  grid-template-rows: 30% 30% 30%;
  grid-template-columns: 25% 25% 25%;
  align-items: center;
  justify-content: space-evenly;
}

.event-img {
  /* background-color: green; */
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 2%;
  box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.2);
}
.event-name {
  font-size: 2rem;
}
.techEvents {
  color: #632d47;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  /* background-color: rgba(224, 176, 255, 1); */
}
.nevents {
  width: 100%;
  height: 100vh;
  /* background-image: linear-gradient(
    rgba(224, 176, 255, 0),
    rgba(224, 176, 255, 1)
  ); */
  display: grid;
  grid-template-rows: 30% 30% 30%;
  grid-template-columns: 25% 25% 25%;
  align-items: center;
  justify-content: space-evenly;
}
.ntechevents {
  color: #632d47;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  /* background-color: rgba(224, 176, 255, 0); */
}
.run {
  /* background: linear-gradient(rgba(224, 176, 255, 0), rgba(224, 176, 255, 1)); */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
}
.event5k-img {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-radius: 2%;
  width: 30%;
  height: 30%;
}

.event5k-name {
  font-size: 2em;
}
footer {
  background-color: black;
  color: white;
  display: flex;
  width: 100%;
  height: 50vh;
  align-items: center;
  justify-content: space-evenly;
}
.flashmob {
  width: 200px;
  height: 200px;
}
.details {
  font-size: 1.5rem;
  text-align: center;
}
.main-events {
  text-align: center;
  font-size: 3rem;
  color: #632d47;
  text-decoration: underline;
  font-weight: bold;
}
.menu {
  display: none;
}
.nav-links {
  display: inline-block;
}
.stechevents {
  text-align: center;
  font-size: 3rem;
  color: #632d47;
  text-decoration: underline;
  font-weight: bold;
  /* background-color: rgba(224, 176, 255, 1); */
  height: 25vh;
}
.sevents {
  width: 100%;
  /* background-image: linear-gradient(
    rgba(224, 176, 255, 1),
    rgba(224, 176, 255, 0)
  ); */
  display: grid;
  grid-template-rows: 30% 30%;
  grid-template-columns: 25% 25%;
  align-items: center;
  justify-content: space-evenly;
}
@keyframes homeanime {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes nameDisplay {
  0% {
    font-size: 2em;
  }

  100% {
    font-size: 8em;
  }
}
.a1 {
  animation: homeanime 2s ease-in-out;
}
.name-display {
  animation: nameDisplay 2s cubic-bezier(0, 1, 0.8, 2.8);
}

@media only screen and (max-width: 800px) {
  .show {
    font-size: 3rem;
    text-align: center;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  nav a {
    font-size: 10px;
  }
  .logo {
    width: 45px;
    height: 45px;
  }
  .about-heading {
    font-size: 2em;
  }
  .about-content {
    font-size: 20px;
    font-weight: 450;
  }
  .img {
    width: 176%;
  }
  .event5k-img {
    width: 180px;
    height: 180px;
  }
  .run {
    height: 70vh;
  }
  .techEvents {
    height: 13vh;
  }
  .events {
    height: 165vh;
  }
  .nevents {
    height: 165vh;
  }
  .ntechevents {
    height: 13vh;
  }
  .details {
    font-size: 16px;
  }

  .sevents {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .event-img {
    width: 70%;
    height: auto;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 500px) {
  .show {
    font-size: 2.4rem;
    text-align: center;
  }

  .about-content {
    font-size: 14px;
  }
  .events {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .event-img {
    width: 70%;
    height: auto;
    margin: 10px 0;
  }
  .nevents {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .sevents {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .details {
    font-size: 10px;
  }
  .img {
    height: 100%;
  }
  @keyframes nameD {
    0% {
      font-size: 20px;
    }
    100% {
      font-size: 50px;
    }
  }
  .name-display {
    animation: nameD 2s cubic-bezier(0, 1, 0.8, 2.8);
  }
}

/*# sourceMappingURL=style.css.map */
